<body>

  <header>
  </header>
    <a href="#!" data-activates="slide-out" class="botao-abrir-menu button-collapse left"><i class="material-icons">menu</i></a>

    <ul id="slide-out" class="side-nav fixed blue-grey darken-3 blue-grey-text text-lighten-5 ">
      <li class="logo-container">
        <a routerLink="" class="brand-logo center">
        <img src="assets/images/logo-main.png">
      </a>
      </li>
      <li>
        <a class="blue-grey-text text-lighten-3 waves-effect waves-orange" routerLink="/pessoas">
          <i class="material-icons left blue-grey-text text-lighten-3">perm_identity</i>Pessoas
        </a>
      </li>
      <li>
        <a class="blue-grey-text text-lighten-3 waves-effect waves-teal" routerLink="/parceiros">
          <i class="material-icons left blue-grey-text text-lighten-3">store</i>Parceiros
        </a>
      </li>
      <li>
        <a class="blue-grey-text text-lighten-3 waves-effect waves-green" routerLink="/coligados">
          <i class="material-icons left blue-grey-text text-lighten-3">call_merge</i>Coligados
        </a>
      </li>
    </ul>

  <main>

    <router-outlet></router-outlet>
  </main>

    <div class="fixed-action-btn botao-principal-add">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a routerLink="/pessoa" class="btn-floating orange"><i class="material-icons">perm_identity</i></a></li>
        <li><a routerLink="/parceiro" class="btn-floating blue darken-1"><i class="material-icons">store</i></a></li>
        <li><a routerLink="/coligado" class="btn-floating green"><i class="material-icons">call_merge</i></a></li>
      </ul>
    </div>


  <footer class="page-footer blue-grey darken-4">
    <div class="footer-copyright">
      <div class="container">
        Desenvolvido por <a class="orange-text text-lighten-3" routerLink="/manuel-cordeiro-neto" >Manuel Cordeiro Neto</a>
      </div>
    </div>
  </footer>

</body>