/* You can add global styles to this file, and also import other style files */

    
/* .brand-logo {
    height: 100%;
}

.brand-logo img {
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
} */

.page-footer {
    padding-top: 0px !important;
}

.botao-principal-add {
    transform: translatey(calc(-50% - .2em));
}


header, main, footer {
    padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}

.side-nav {
    width: 250px;
}

.side-nav a i {
    margin-right: 15px;
}

.logo-container {
    height: 100px;
}

.logo-container a {
    height: 100px;
    line-height: 100px;
}

.logo-container a img {
    height: 30px;
    margin-top: 35px;
}
          

.botao-abrir-menu {
    position: fixed;
    top: 35px;
}