<nav class="segundo-navegador light-blue darken-2">
  <div class="nav-wrapper">
    <div class="col s12">
      <a routerLink="" class="breadcrumb">Home</a>
      <a routerLink="/coligados" class="breadcrumb">Coligados</a>
      <a class="breadcrumb">{{coligado.nome}}</a>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <form #f="ngForm" class="col s12" (ngSubmit)="onSubmit(f)">

      <div class="row">

        <div class="input-field col s6">
          <input [(ngModel)]="coligado.nome" id="nome" name="nome" class="validate" type="text">
          <label for="nome">Nome</label>
        </div>

        <div class="input-field col s6">
          <input [(ngModel)]="coligado.email" id="email" name="email" class="validate" type="email">
          <label for="email">E-mail</label>
        </div>

      </div>

      <div class="row">

        <div class="input-field col s6">
          <input [(ngModel)]="coligado.cnpj" id="cnpj" name="cnpj" class="validate" type="text">
          <label for="cnpj">Cnpj</label>
        </div>

        <div class="input-field col s6">
          <input [(ngModel)]="coligado.ie" id="ie" name="ie" class="validate" type="text">
          <label for="ie">Ie</label>
        </div>

      </div>

      <div class="row">


        <div class="input-field col s4">
          <input [(ngModel)]="coligado.cidade" id="cidade" name="cidade" class="validate" type="text">
          <label for="cidade">Cidade</label>
        </div>

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.estado" id="estado" name="estado" class="validate" type="text">
          <label for="estado">Estado</label>
        </div>

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.endereco" id="endereco" name="endereco" class="validate" type="text">
          <label for="endereco">Endereço</label>
        </div>

      </div>

      <div class="row">

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.contato" id="contato" name="contato" class="validate" type="text">
          <label for="contato">Contato</label>
        </div>

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.celular" id="celular" name="celular" class="validate" type="text">
          <label for="celular">Celular</label>
        </div>

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.telefone" id="telefone" name="telefone" class="validate" type="text">
          <label for="telefone">Telefone</label>
        </div>

      </div>

      <div class="row">

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.banco" id="banco" name="banco" class="validate" type="text">
          <label for="banco">Banco</label>
        </div>

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.agencia" id="agencia" name="agencia" class="validate" type="text">
          <label for="agencia">Agencia</label>
        </div>

        <div class="input-field col s4">
          <input [(ngModel)]="coligado.conta" id="conta" name="conta" class="validate" type="text">
          <label for="conta">Conta</label>
        </div>

      </div>

      <app-button nome="send" icon="send" texto="{{coligado.id > 0 ? 'Atualizar' : 'Cadastrar'}}" tipo="submit"></app-button>
      

    </form>
  </div>

</div>