<nav class="segundo-navegador light-blue darken-2">
  <div class="nav-wrapper">
    <div class="col s12">
      <a routerLink="" class="breadcrumb">Home</a>
      <a routerLink="/pessoas" class="breadcrumb">Pessoas</a>
    </div>
  </div>
</nav>
<br>


<div class="container">

  <div class="row valign-wrapper">


    <div class="col s9">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <div class="chips chips-autocomplete"></div>
      </div>
    </div>

    <div class="col s3">
      
      <div class="switch">
        <label>
          <input #vt (change)="mudaValidarTodos(vt.checked)" name="validar-todos" type="checkbox">
          <span class="lever"></span>
          combinar tags
        </label>
      </div>
      
      <!-- <div class="switch">
        <label>
          <input #ve (change)="mudaValoresExatos(ve.checked)" name="valores-exatos" type="checkbox">
          <span class="lever"></span>
          valores exatos
        </label>
      </div> -->

    </div>

  </div>

</div>

<div class="row">
  <div class="col s12 m2" *ngFor="let pessoa of pessoas | filtroPessoas : filtro">
    <app-pessoa-card [pessoaRef]="pessoa">
    </app-pessoa-card>
  </div>
</div>

<div class="row"></div>