<nav class="segundo-navegador light-blue darken-2">
  <div class="nav-wrapper">
    <div class="col s12">
      <a routerLink="" class="breadcrumb">Home</a>
      <a routerLink="/pessoas" class="breadcrumb">Pessoas</a>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <!-- <i class="material-icons left blue-grey-text text-lighten-3">search</i> -->
      <div class="chips chips-autocomplete s12"></div>
    </div>

     <input (change)="0" value="{{filtroTags}}" type="text"> 
  </div>

  <div class="row">
    <ul *ngFor="let pessoa of pessoas | filtroPessoas : filtro">
      <li>
        {{pessoa.nome}}
      </li>
    </ul>
  </div>
</div>