<nav class="segundo-navegador light-blue darken-2">
    <div class="nav-wrapper">
        <div class="col s12">
            <a routerLink="" class="breadcrumb">Home</a>
            <a routerLink="/coligados" class="breadcrumb">Coligados</a>
        </div>
    </div>
</nav>
<br>

<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input #filtro (keyup)="0" id="pesquisar" name="pesquisar" class="validate" type="text">
            <label for="pesquisar">Pesquisar</label>
        </div>
    </div>

    <div *ngIf="coligados.length > 0" class="row">

        <table class="coligados bordered highlight">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Cidade</th>
                </tr>
            </thead>

            <tbody *ngFor="let coligado of coligados | filtroColigados : filtro.value">
                <tr class="hoverable" (click)="editar(coligado)">
                    <td>{{coligado.nome}}</td>
                    <td>{{coligado.cnpj}}</td>
                    <td>{{coligado.cidade}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div *ngIf="coligados.length == 0" class="row">
        <p>
            Não há coligados cadastrados ou a busca não retornou resultado.
        </p>
    </div>

</div>