/* You can add global styles to this file, and also import other style files */

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

nav.segundo-navegador {
    height: 30px !important;
    line-height: 30px !important;
    padding-left: 15px !important;
}

nav.segundo-navegador a {
    font-size: .8em;
}

nav.segundo-navegador a::before {
    margin: 2px 10px 0 8px !important;
    font-size: 10px !important;
}