<div class="container">

<br>

  <div class="row center-align">

    <img class="circle minha-foto" src="assets/images/manuel-cordeiro-neto.jpg" />

    <h3>Manuel Cordeiro Neto</h3>

    <!-- <br>  -->

    <h5 class="email">
      <a href="mailto:manuel.cdr@gmail.com"><i class="material-icons">mailto</i>manuel.cdr@gmail.com</a>
    </h5>

    <h5 class="telefone"><i class="material-icons">phone_android</i>(11) 9.8744.2940</h5>

    <br>

    <a class="link-rede-social" target="_blank" href="https://www.linkedin.com/in/manuelcordeironeto"><img src="assets/images/linkedin.png" /></a>

    <a class="link-rede-social" target="_blank" href="https://www.facebook.com/manuel.cdr"><img src="assets/images/facebook.png" /></a>


  </div>



</div>