<nav class="segundo-navegador light-blue darken-2">
  <div class="nav-wrapper">
    <div class="col s12">
      <a routerLink="">Home</a>
      <a routerLink="/pessoas" class="breadcrumb">Pessoas</a>
      <a class="breadcrumb">{{pessoa.nome}}</a>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">

    <form #f="ngForm" class="col s12" (ngSubmit)="onSubmit(f)">

      <div class="row">

        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#tab-dados-pessoais">Dados pessoais</a></li>
            <li class="tab col s3"><a href="#tab-endereco">Endereço</a></li>
            <li class="tab col s3"><a href="#tab-caracteristicas">Características</a></li>
            <li class="tab col s3"><a href="#tab-outros">Outros</a></li>
          </ul>
        </div>
        <div id="tab-dados-pessoais" class="col s12">
          <div class="input-field col">
            <input [(ngModel)]="pessoa.nome" id="nome" name="nome" class="validate" type="text">
            <label for="nome">Nome</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.dataNascimento" id="dataNascimento" name="dataNascimento" class="validate" type="text">
            <label for="dataNascimento">Data de nascimento</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.nacionalidade" id="nacionalidade" name="nacionalidade" class="validate" type="text">
            <label for="nacionalidade">Nascionalidade</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.estadoCivil" id="estadoCivil" name="estadoCivil" class="validate" type="text">
            <label for="estadoCivil">Estado civil</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.cpf" id="cpf" name="cpf" class="validate" type="text">
            <label for="cpf">CPF</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.rg" id="rg" name="rg" class="validate" type="text">
            <label for="rg">RG</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.email" id="email" name="email" class="validate" type="email">
            <label for="email">E-mail</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.telefone" id="telefone" name="telefone" class="validate" type="text">
            <label for="telefone">Telefone</label>
          </div>

          <div class="input-field col">
            <input [(ngModel)]="pessoa.celular" id="celular" name="celular" class="validate" type="text">
            <label for="celular">Celular</label>
          </div>

        </div>
        <div id="tab-endereco" class="col s12">
          <div class="row">

            <div class="input-field col s4">
              <input [(ngModel)]="pessoa.endereco" id="endereco" name="endereco" class="validate" type="text">
              <label for="endereco">Endereço</label>
            </div>

            <div class="input-field col s1">
              <input [(ngModel)]="pessoa.numero" id="numero" name="numero" class="validate" type="text">
              <label for="numero">Número</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.complemento" id="complemento" name="complemento" class="validate" type="text">
              <label for="complemento">Complemento</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.bairro" id="bairro" name="bairro" class="validate" type="text">
              <label for="bairro">Bairro</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.cep" id="cep" name="cep" class="validate" type="text">
              <label for="cep">CEP</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.cidade" id="cidade" name="cidade" class="validate" type="text">
              <label for="cidade">Cidade</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.estado" id="estado" name="estado" class="validate" type="text">
              <label for="estado">Estado</label>
            </div>

          </div>

        </div>
        <div id="tab-caracteristicas" class="col s12">
          <div class="row">
            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.sexo" id="sexo" name="sexo" class="validate" type="text">
              <label for="sexo">Sexo</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.altura" id="altura" name="altura" class="validate" type="text">
              <label for="altura">Altura</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.manequim" id="manequim" name="manequim" class="validate" type="text">
              <label for="manequim">Manequim</label>
            </div>

            <div class="input-field col s3">
              <input [(ngModel)]="pessoa.manequim" id="manequim" name="manequim" class="validate" type="text">
              <label for="manequim">Manequim</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.etnia' id='etnia' name='etnia' class='validate' type='text'>
              <label for='etnia'>Etnia</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.olhos' id='olhos' name='olhos' class='validate' type='text'>
              <label for='olhos'>Olhos</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.cabelo' id='cabelo' name='cabelo' class='validate' type='text'>
              <label for='cabelo'>Cabelo</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.cintura' id='cintura' name='cintura' class='validate' type='text'>
              <label for='cintura'>Cintura</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.quadril' id='quadril' name='quadril' class='validate' type='text'>
              <label for='quadril'>Quadril</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.busto' id='busto' name='busto' class='validate' type='text'>
              <label for='busto'>Busto</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.sapato' id='sapato' name='sapato' class='validate' type='text'>
              <label for='sapato'>Sapato</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.idioma' id='idioma' name='idioma' class='validate' type='text'>
              <label for='idioma'>Idioma</label>
            </div>

          </div>
        </div>
        <div id="tab-outros" class="col s12">
          <div class="row">

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.habilitacao' id='habilitacao' name='habilitação' class='validate' type='text'>
              <label for='habilitacao'>Habilitação</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.temCarro' id='temCarro' name='temCarro' class='validate' type='text'>
              <label for='temCarro'>Tem carro?</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.horariosDisponiveis' id='horariosDisponiveis' name='horariosDisponiveis' class='validate' type='text'>
              <label for='horariosDisponiveis'>Horários disponíveis</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.classificacao' id='classificacao' name='classificacao' class='validate' type='text'>
              <label for='classificacao'>Classificação</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.banco' id='banco' name='banco' class='validate' type='text'>
              <label for='banco'>Banco</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.agencia' id='agencia' name='agencia' class='validate' type='text'>
              <label for='agencia'>Agência</label>
            </div>

            <div class='input-field col s3'>
              <input [(ngModel)]='pessoa.conta' id='conta' name='conta' class='validate' type='text'>
              <label for='conta'>Conta</label>
            </div>

          </div>
        </div>
      </div>

      <app-button nome="send" icon="send" texto="{{pessoa.id > 0 ? 'Atualizar' : 'Cadastrar'}}" tipo="submit"></app-button>


    </form>
  </div>

</div>